@model CatsNet.Models.CatsModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CatsModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoneyToGive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoneyToGive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
